# Lecture 9 Excelの自動化

## 複数ファイルの操作

In [16]:
# 圧縮ファイルをColab内に展開
import requests
from io import BytesIO
from zipfile import ZipFile

r = requests.get('https://github.com/shibats/tdl_python_basic/raw/main/Lecture09/ch02.zip')
zip_buffer = BytesIO(r.content)

with ZipFile(zip_buffer) as myzip:
    myzip.extractall()

In [17]:
# ライブラリをインポート
import openpyxl

In [18]:
# シートをオブジェクトとして読み込む
wb = openpyxl.load_workbook("ch02/company_data1.xlsx")
ws = wb.worksheets[0]

In [19]:
# pandasに読み込んで表示
import pandas as pd
df = pd.DataFrame(ws.values)
df  # 表示

      0     1     2     3     4
0   会社名    A社    B社    C社  None
1  売り上げ  2019  2210   524  None
2   設立年  2010  2001  1968  None
3   所在地   東京都   大阪府   北海道  None
4   社員数   124   200    30  None
5  None  None  None  None  None

In [20]:
# セル全体を二重のループで取り出し表示
for y, cy in enumerate(ws):
    for x, cx in enumerate(cy):
        print(x, y, cx.value)

0 0 会社名
1 0 A社
2 0 B社
3 0 C社
4 0 None
0 1 売り上げ
1 1 2019
2 1 2210
3 1 524
4 1 None
0 2 設立年
1 2 2010
2 2 2001
3 2 1968
4 2 None
0 3 所在地
1 3 東京都
2 3 大阪府
3 3 北海道
4 3 None
0 4 社員数
1 4 124
2 4 200
3 4 30
4 4 None
0 5 None
1 5 None
2 5 None
3 5 None
4 5 None

In [21]:
# シートを追加する
ws2 = wb.create_sheet(title="Sheet2")
# ロウとカラムを増やす
ws2.insert_rows(1, ws.max_row)
ws2.insert_cols(1, ws.max_column)
# 行と列を入れ替える
for y, cy in enumerate(ws):
    for x, cx in enumerate(cy):
        ws2[x+1][y].value = cx.value

In [22]:
# 新しいファイルに保存
# wb.save("ch02/company_data_new.xlsx")

In [23]:
df2 = pd.DataFrame(ws2.values)
df2  # 表示

      0     1     2     3     4     5
0   会社名  売り上げ   設立年   所在地   社員数  None
1    A社  2019  2010   東京都   124  None
2    B社  2210  2001   大阪府   200  None
3    C社   524  1968   北海道    30  None
4  None  None  None  None  None  None
5  None  None  None  None  None  None
6  None  None  None  None  None  None

※ スライドに戻ります

In [24]:
# フォルダの中身を表示
%ls ch02

company_data1.xlsx      company_data3.xlsx      company_data4_new.xlsx
company_data2.xlsx      company_data4.xlsx

In [25]:
# ファイルを操作するライブラリをインポート
import pathlib
# オブジェクトを生成

path = pathlib.Path("ch02")
# フォルダ内のファイルをループで取得
for f in path.iterdir():
    print(f)

ch02/.DS_Store
ch02/company_data4.xlsx
ch02/company_data3.xlsx
ch02/company_data2.xlsx
ch02/company_data4_new.xlsx
ch02/company_data1.xlsx

In [26]:
def swap_colrow(filename):
    # ファイル名を指定して
    # Excelシートの列と行を入れ替える
    wb = openpyxl.load_workbook(filename)
    ws = wb.worksheets[0]
    ws2 = wb.create_sheet(title="Sheet2")
    # カラムを増やす
    ws2.insert_rows(1, ws.max_row)
    ws2.insert_cols(1, ws.max_column)
    # 行と列を入れ替える
    for y, cy in enumerate(ws):
        for x, cx in enumerate(cy):
            ws2[x+1][y].value = cx.value
    # 新規ファイルに保存する
    newfn = filename.replace(".xlsx", "_new.xlsx")
    wb.save(newfn)

In [27]:
# 関数を呼び出してみる
swap_colrow("ch02/company_data4.xlsx")

In [28]:
import pandas as pd
wb = openpyxl.load_workbook("ch02/company_data4_new.xlsx")
ws = wb.worksheets[0]
df = pd.DataFrame(ws.values)
df  # 表示

      0     1     2     3     4
0   会社名    A社    B社    C社  None
1  売り上げ  2019  2210   524  None
2   設立年  2010  2001  1968  None
3   所在地   東京都   大阪府   北海道  None
4   社員数   124   200    30  None
5  None  None  None  None  None

In [29]:
ws = wb.worksheets[1]
df = pd.DataFrame(ws.values)
df  # 表示

     0     1     2    3    4
0  会社名  売り上げ   設立年  所在地  社員数
1   A社  2019  2010  東京都  124
2   B社  2210  2001  大阪府  200
3   C社   524  1968  北海道   30

In [30]:
%ls ch02

company_data1.xlsx      company_data3.xlsx      company_data4_new.xlsx
company_data2.xlsx      company_data4.xlsx

In [34]:
# ループで一気に処理
path = pathlib.Path("ch02")
# フォルダ内のファイルをループで取得
for f in path.iterdir():
    if ".xlsx" in str(f):
        swap_colrow(str(f))

TypeError: replace() takes 2 positional arguments but 3 were given